# Icon must end with two \r
Icon

# Thumbnails
._*

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
build/
downloads/
lib/
lib64/
parts/
sdist/
var/

# Unit test / coverage reports
.cache

# PyBuilder
target/

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
db.sqlite3
media/

.vscode/